-
  function _isDisputeOwner() {
    return (currentUser && (currentUser.id === dispute.user.id));
  }

  function _isFollowUpConfirmed() {
    return dispute.data.disputeConfirmFollowUp;
  }

.Dispute__step-content(
  data-dispute-follow-up
  aria-hidden= (currentSection !== 'follow-up').toString()
)
  div
    .clearfix.mxn2.pb3
      .col.md-col-4.col-12.px2
        .Dispute__FollowUp__card.rounded.py3.px2.-bg-white.-dark
          h3.pb4= dispute.disputeTool.name
          .flex.items-center.pb1
            div: svg.block.-primary(width='46' height='56'): use(xlink:href='#svg-fingerprint')
            .pl2.-ff-sec
              - var _formData = dispute.data.forms && dispute.data.forms['personal-information-form'] || {}
              .-fw-700= _formData && _formData.name || ''

      .col.md-col-8.col-12.px2

        - var _headingText = '';
        case dispute.disputeTool.id
          // General Debt Dispute Letter
          when '11111111-1111-3333-1111-111111111111'
            - _headingText = 'Thank you for disputing your debt.'
          // Private Student Loan Dispute Letter
          when '11111111-1111-6666-1111-111111111111'
            - _headingText = 'Thank you for disputing your private student debt.'
          default
            - _headingText = `Thank you for disputing ${dispute.disputeTool.name}`;

        h4.Dispute__FollowUp__Title.pb3.pt2.-accent= _headingText
        h3.pb3 Now what?
        .-fw-500!= dispute.disputeTool.data.nowWhat

        if lastStatus.status !== 'Documents Sent'
          .mt2
            if lastStatus.pendingSubmission === null
              form(method='post' action=routeMappings.Disputes.updateSubmission.url(dispute.id))
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='hidden' name='_method' value='put')
                ul.list-reset
                  li.mb2: label
                    input(type='radio' name='pending_submission' value='1' required)
                    span.ml2 I want the Debt Collective to mail a hard copy of my dispute
                  li.mb2: label
                    input(type='radio' name='pending_submission' value='0' required)
                    span.ml2 I prefer to print and mail it myself
                button(type='submit').-fw-700.-k-btn.btn-primary Save changes
            else
              if lastStatus.pendingSubmission === true
                p Your dispute is being processed, thank you.

    if dispute.data.disputeConfirmFollowUp
      .-caption.-neutral-mid.-ttu.-fw-700 Your dispute status:
      h4.Dispute__FollowUp__MainStatus.pb1.mb2.-ttu(
        class=`-status-${lastStatus.status.toLowerCase().replace(/\W/g, '-')}`
      )= lastStatus.status

      .mb3
        each status in dispute.statuses
          -
            var userUpdate = false;

            if (status.status === 'User Update') {
              userUpdate = true;
            }

          .StatusItem.py2.clearfix
            .StatusItem-Avatar.left
              if userUpdate
                if (dispute.user.account.image.exists('small'))
                  img.block.-fw(src=dispute.user.account.image.url('small') alt=dispute.user.account.fullname)
                else
                  img.block(width='50' height='50' src='/images/profile/placeholder-small.png')
              else
                .StatusItem-TDC-placeholder

            .StatusItem-Text
              .clearfix
                .left
                  if userUpdate
                    p.-fw-700= dispute.user.account.fullname
                  else
                    p.-fw-700.-primary= 'The Debt Collective'
                  .-caption.-neutral-mid
                    <svg class="inline-block" width="13" height="11">
                      <use xlink:href="#svg-reply"></use>
                    </svg>
                    .ml1.inline-block.-fw-700= new Date(status.createdAt).toDateString()
                .right
                  p.-caption.-fw-700.-ttu(
                    class=`-status-${status.status.toLowerCase().replace(/\W/g, '-')}`
                  )= status.status
              p.-fw-500= status.comment

        if _isDisputeOwner()
          .py2.clearfix
            .StatusItem-Avatar.left
              if (currentUser.account.image.exists('small'))
                img.block.-fw(src=currentUser.account.image.url('small') alt=currentUser.account.fullname)
              else
                img.block(width='50' height='50' src='/images/profile/placeholder-small.png')

            .StatusItem-Text
              form(
                action=routeMappings.Disputes.update.url(dispute.id)
                method='post'
                data-component-form='dispute-comment'
              )
                input(name='_csrf' type='hidden' value=csrfToken)
                input(name='_method' type='hidden' value='PUT')

                h4.-accent Got a reply?
                p.-accent We prompt you to notify us when you get a reply from the Department

                textarea.-k-textarea.block.my2.-fw(
                  name='comment'
                  rows='5'
                  placeholder='Briefly describe the response you got…'
                )
                .flex
                  p.mt1.mr3.-caption.-fw-500 We follow very closely what happens with these disputes so that we can find out which creditors are not breaking the law.
                  button.Dispute__FollowUp__SendBtn.-k-btn.btn-primary.-fw-700(
                    type='submit'
                  ) Send

  if _isDisputeOwner() && !_isFollowUpConfirmed()
    .-k-popover.-bottom-right.-success.absolute(data-component-popover='dispute-completed' aria-hidden='true' style='width: 290px;')
      .-k-popover-wrapper
        .-k-popover__arrow
        .-k-popover-body.p2.pr4
          button.btn-clear.-k-popover__close(aria-label='close')
            svg(width='13' height='13')
              use(xlink:href='#svg-close')
          .-dark.-fw-700 Access your filled tools
          p.-fw-500 You can follow up your tools anytime through your Profile
