-
  var _toolSteps = [
    'Let’s get this dispute started!',
    'Gather information',
    'Dispute process',
    'Signature',
    'Follow up'
  ]

mixin toolsSidebarMixin(disputeTool, currentStep = 1, steps = _toolSteps)
  .Tool__sidebar
    h4.pb1.-ttu.-h-sec.-accent
      span
        | #{disputeTool.name}
        if dispute && dispute.data.option !== 'none'
          |  / #{dispute.data.option}
    p.pb3.-caption.-ttu.-fw-500
      | #{disputeTool.completed} People Filled
    ul.list-reset.Tool__sidebar-steps
      each step, index in steps
        -
          var _index = index + 1
          var _className = ''
          var _disabled = true

          if (_index === 1) {
            _className = '-done';
            _disabled = true;
          } else if (currentStep === _index) {
            _className = '-current';
            _disabled = false;
          } else if (currentStep > _index) {
            _className = '-done';
            _disabled = false;
          }

        li.relative
          button.Tool__sidebar-step.relative.btn-clear.left-align.-fw-700.-fw(
            class= _className
            data-index= _index
            disabled!= _disabled
          )
            svg.svg-done(width="14" height="10"): use(xlink:href="#svg-checkmark")
            svg.svg-current(width="14" height="14"): use(xlink:href="#svg-arrow-forward")
            | #{step}
  | &nbsp;
