header.Header(data-component-header)
  .Header__bg.absolute.top-0.right-0.bottom-0.left-0
  .wrapper.clearfix.px2.-fh
    h1.Header__logo.left.-fh
      a.block(style="padding: 18px 0 22px;" href=routeMappings.root.url())
        img.Header__logo-svg.-large(src='/images/global/header/logo.svg')
        img.Header__logo-svg.-small(src='/images/global/header/red-square.svg' style='height:30px;margin-top:-3px')
        .sr-only The Collective Homepage
    nav.right.-fh
      +mixinHeaderNav()
