@import '../../base';
@import '../../components/dispute-tools/TextModal';
@import '../../components/dispute-tools/ToolCard';

.ToolCard {
  &__name,
  &__stats {
    color: var(--k-color-palette-accent);
  }
  &__caption {
    color: var(--k-color-palette-neutral-mid);
  }
}
