@import '../../base';
@import '../../components/dispute-tools/Sidebar';
@import '../../components/dispute-tools/TextModal';

/* 1 */
.Tool__DisputeCard {
  padding: var(--space-2) var(--space-3) var(--space-3);
  background-color: #fff;
  color: #000;
}
