doctype html
html(lang='en')

  head
    meta(charset='UTF-8')
    meta(name='csrf-token' content=csrfToken)
    meta(name='keywords' content='Debt,Student loans,Everest,Corinthian,Student Debt,Medical Debt,Credit Card Debt,Mortgage Debt,Bankruptcy,Debt discharge,Debt cancellation,Erase my debt,Jubilee,Strike Debt,Confused about debt,Rolling Jubilee,Interest rates,Principle reduction,What happens if I don’t pay my debt?,Judgement Debt,Bad Credit,Credit Score,Credit Report,Credit Reporting Agencies,Can’t Pay My Debt,Debt strike,Debt union,Credit cards,Fair credit,Wages garnished,Consumer rights,Strike creditors,Debt refusal,Debt resistance,Debt Help')
    meta(name='description' content='We are debtors and allies organizing to renegotiate and resist our debts. Alone, our debts are a burden. Together, they make us powerful.')

    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content='The Debt Collective')
    meta(name='format-detection' content='telephone=no')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    each size in [57, 76, 120, 152, 180]
      link(rel='apple-touch-icon' sizes=`${size}x${size}` href=`/images/social/apple-icon-${size}.png`)

    link(rel='icon' type='image/png' href='/images/favicon.png')

    title
      block title
        | The Debt Collective

    block styles
      link(rel='stylesheet' href='/build/stylesheets/style.css')

  body
    include ../includes/svg/sprite.svg
    include ../mixins/header-nav

    main(aria-hidden='false' role='main')
      if errors || error || flash
        .AlertWrapper
          if errors || error
            .Alert.wrapper.center.-fw-500.-error
              button.Alert__close(aria-label='close')
                svg: use(xlink:href='#svg-close')
              p= error
              if errors
                each val in errors
                  p= val
          if flash
            each val, key in flash
              .Alert.wrapper.center.-fw-500(class=`-${key}`)
                button.Alert__close(aria-label='close')
                  svg: use(xlink:href='#svg-close')
                p!= val

      include ../includes/header
      block content
      include ../includes/footer

    .ResponsiveMenu(aria-hidden='true')
      .ResponsiveMenu__Header.px2.clearfix
        .left.-fh
          a.block(href=routeMappings.root.url() style='padding: 11px 0;')
            svg(width='64' height='31'): use(xlink:href='#svg-logo')
            .sr-only The Collective Homepage
        .right.-fh
          button.js-close-responsive-menu.btn-clear(aria-label='close' style='padding: 19px 0 19px 19px;')
            svg.-s18(width='32' height='32'): use(xlink:href='#svg-close')
      +mixinHeaderNav(true)

    script(src="/build/javascripts/airbrake.client.min.js" async)
    script.
      const env = !{JSON.stringify( CONFIG.environment )};
      if (env === 'production' || env === 'staging') {
        window.addEventListener('load', function() {
          const airbrakeJs = window.airbrakeJs;
          const airbrakeConfig = !{JSON.stringify(CONFIG.env().airbrake)};
          window.airbrake = new airbrakeJs.Client(airbrakeConfig);

          // Wrap addEventListener functions
          (function(addEventListener){
            EventTarget.prototype.addEventListener = function(eventName, eventHandler, options) {
              // Catch errors
              eventHandler = window.airbrake.wrap(eventHandler);

              // Call original `addEventListener`
              addEventListener.call(this, eventName, function(event) {
                eventHandler(event);
              }, options);
            };
          }(EventTarget.prototype.addEventListener));
        });
      } else {
        // airbrake is undefined when not in production
        // it is mocked so it can be used as expected
        window.airbrake = {
          wrap: function(x){ return x },
          notify: function(e){ console.log(e); },
        }
      }

    block body
      include ../includes/donation-flow

      if !currentUser
        if (currentURL !== routeMappings.signup.url()) && (currentURL !== routeMappings.login.url()) && (currentURL !== routeMappings.Users.create.url())
          .Modal(data-component-modal='signup' aria-hidden='true' role='dialog' aria-labelledby='modalSignupTitle' aria-describedby='modalSignupDesc')
            button(class='Modal__close' aria-label='close')
              svg(class='-s18'): use(xlink:href='#svg-close')
            .Modal__body(role='document')
              include ../includes/users/new-form.pug

          .Modal(data-component-modal='login' aria-hidden='true' role='dialog' aria-labelledby='modalLoginTitle' aria-describedby='modalLoginDesc')
            button(class='Modal__close' aria-label='close')
              svg(class='-s18'): use(xlink:href='#svg-close')
            .Modal__body(role='document')
              include ../includes/sessions/new-form.pug

    script(src='/build/javascripts/application.js')
    script(src='/build/javascripts/polyfills.js' async)
    script(src='https://js.stripe.com/v2/' async)
    block scripts
