@import '../../base';

.ProfileWrapper {
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

.Profile__map {
  top: -60px;
  background-position: 50%;
  background-size: cover;
  opacity: .7;
  mix-blend-mode: lighten;
}

.Profile__image-wrapper {
  order: 1;
}

.Profile__info-wrapper {
  background-color: var(--k-background-color);
}

.-status {
  &-incomplete {color: #F8E71C}
  &-completed {color: #7ED321}
  &-in-review {color: #268AFF}
  &-documents-sent {color: #F04C34}
  &-update {color: #50E3C2}
}

hr {
  height: 5px;
  background-color: var(--k-color-palette-accent);
  border: none;
}

