extends ../../../layouts/admin.pug

block title
  | Admin/Users — The Debt Collective

block styles
  link(href="/build/stylesheets/admin/collectives/users/index.css" rel="stylesheet")

block content
  -
    var queryCampaign = headers.query && headers.query.campaign;
    var querySearch = headers.query && headers.query.search;
    var queryOrder = headers.query && headers.query.order

  .wrapper.px2.pb3
    h2.pt4.pb2 Users
    h3.pb2= collective.name

    table.-fw(cellpadding='0' cellspacing='0')
      thead
        tr
          th
            .-input-group-icon
              svg(width='18' height='18'): use(xlink:href='#svg-search')
              input.-k-input.-clean.-fw-700(
                name="usersListValue[search]"
                placeholder='Seach by name, email, state or zip'
                value= querySearch
              )

          th
            .-k-select.-clean
              select.-fw-700.-fw(name='usersListValue[campaign]')
                option(value="") Campaign
                each campaign in campaigns
                  option(
                    value= campaign.id
                    selected= queryCampaign === campaign.id
                  )= campaign.title

          th
            .-k-select.-clean
              select.-fw-700.-fw(name='usersListValue[order]')
                option(value="") Date
                option(
                  value='created_at'
                  selected= queryOrder === 'created_at'
                )= 'ASC'
                option(
                  value='-created_at'
                  selected= queryOrder === '-created_at'
                )= 'DESC'

          th
            button.-k-btn.btn-primary.-fw-700(
              name='usersListValue[applyFilters]'
              disabled= true
            ) Apply
            button.-k-btn.btn-link(
              name='usersListValue[resetFilters]'
              disabled= !querySearch && !queryState && !queryOrder
            ) Reset


      tbody
        each user in users
          tr(class=user.banned ? '.banned' : null)
            td
              .flex.items-center
                -
                  var _avatarUrl = '/images/profile/placeholder-small.png';

                  if (user.account.image.exists('small'))
                    _avatarUrl = user.account.image.url('small');

                div: img.block(src= _avatarUrl alt=user.account.fullname width="50" height="50")
                div
                  p.pl2.-fw-700= user.account.fullname
                  p.pl2: small #[a(href='mailto:' + user.account.email)= user.email] &middot; #{user.account.state}, #{user.account.zip}
            td.-fw-500
              if user.campaigns.count
                span.Tag= user.campaigns.results.shift().title
              else
                span.Tag.Tag--empty No campaigns

              if user.campaigns.count > 1
                span.Tag(title=user.campaigns.results.map(c => c.title).join('\n'))= ' + ' + (user.campaigns.count - 1)

            td.-fw-500= new Date(user.createdAt).toDateString()
            td.center
              a.inline-block.btn-clear.p1.align-top(
                href= routeMappings.Admin.Users.edit.url(user.id) + '?_backUrl=' + routeMappings.Admin.Collectives.Users.url(collective.id)
              )
                svg.-pen.block.align-top(width='15' height='15')
                  use(xlink:href='#svg-pencil')

              if user.id === currentUser.id
                .inline-block.p1.ml2.align-top
                  svg.-pen.-neutral-mid.block.align-top(width='15' height='15')
                    use(xlink:href='#svg-flag')
              else
                form.inline-block(action=routeMappings.Admin.Users.ban.url(user.id) method='post')
                  input(type='hidden' name='_csrf' value=csrfToken)
                  input(type='hidden' name='_backUrl' value=routeMappings.Admin.Collectives.Users.url(collective.id))

                  if user.banned
                    input(type='hidden' name='_method' value=routeMappings.Admin.Users.unban.verb)
                    button.p1.ml2.align-top.btn-clear(type='submit')
                      svg.-pen.-danger.block.align-top(width='15' height='15')
                        use(xlink:href='#svg-flag')
                  else
                    input(type='hidden' name='_method' value=routeMappings.Admin.Users.ban.verb)
                    button.p1.ml2.align-top.btn-clear(type='submit')
                      svg.-pen.-dark.block.align-top(width='15' height='15')
                        use(xlink:href='#svg-flag')

    include ../../../mixins/pagination
    +mixinPagination(headers.current_page, headers.total_pages)(class='pt3')

block scripts
  script(src="/build/javascripts/admin/collectives/users/index.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
        isAdmin: true,
      };
      new ViewAdminCollectiveUsersIndex(options);
    }, true);
