.btn-clear {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.btn-link {
  background-color: transparent;
  transition: opacity 260ms;
  &:hover {opacity: .8}
}

.btn-primary {
  background-color: var(--k-color-palette-primary);
  color: white;

  &:hover:not([disabled]):not(:active) {
    background-color: var(--primary-lighter);
    color: white;
  }

  &:active {
    background-color: var(--primary-darker);
  }

  &[disabled] {
    opacity: 1 !important;
    background-color: var(--k-color-palette-neutral-dark);
    color: color(#fff alpha(25%));
  }
}

.btn-light {
  background-color: white;
  color: var(--k-color-palette-primary);

  &:hover:not([disabled]):not(:active) {
    color: var(--primary-lighter);
  }

  &:active {
    color: var(--primary-darker);
  }
}

.btn-dark {
  background-color: #000;
  color: var(--k-color-palette-accent);
}

.btn-outline {
  box-shadow: 0 0 0 2px #979797;
  background-color: transparent;

  &:hover {opacity: .8}

  &.-sm {box-shadow: 0 0 0 1px #979797}

  &.-primary {
    box-shadow: 0 0 0 2px var(--k-color-palette-primary);
    &.-sm {box-shadow: 0 0 0 1px var(--k-color-palette-primary)}
  }
}
