/* used on masonry */
.GridButton {
  display: block;
  position: relative;
  padding-top: 94%;
  border: 2px dashed var(--k-color-palette-neutral-mid);
  text-align: center;
  border-radius: 2px;
  background-color: transparent;
  transition: background-color 300ms;

  &--Plus {
    font-size: 3.5rem;
    line-height: 1.1em;
    width: 4.5rem;
    height: 4.5rem;
    background-color: white;
    border-radius: 50%;
    font-weight: 700;
    transform: scale(1);
    transition: transform 300ms cubic-bezier(.165,.84,.44,1);
  }


  &:hover {
    background-color: color(var(--k-color-palette-neutral-mid) alpha(-90%));

    & .GridButton--Plus {
      transform: scale(1.1);
    }
  }
}
