.-k-popover {
  z-index: 1;

  &[aria-hidden="false"] {
    transition: opacity 300ms;
    opacity: 1;
  }

  &[aria-hidden="true"] {
    transition:
      visibility 0ms linear 260ms,
      opacity 260ms;
    opacity: 0;
  }

  &__close {
    & > svg {
      display: inline-block;
      vertical-align: top;
      transform: scale(1);
      transition: transform 100ms ease-out;
    }

    &:hover > svg,
    &:focus > svg {
      transform: scale(1.2);
    }
  }

  &.-success {
    background-color: #B8E986;
    color: var(--k-color-palette-neutral-dark);
  }
  &[class*='bottom'] > .-k-popover-wrapper > .-k-popover__arrow::after {
    border-bottom-color: #B8E986;
  }
}

.Popover__backdrop {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.7);
}
