.Tab {
  position: relative;
  margin: 0 1px;
  overflow: hidden;
  background-color: white;

  &:first-child {border-bottom-left-radius: 3px}
  &:last-child {border-bottom-right-radius: 3px}

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background-color: var(--k-color-palette-primary);
    transform: translateY(5px);
    transition: transform 120ms cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  &[role='tab'] {cursor: pointer}

  &[role='tab']:hover::after,
  &[aria-selected='true']::after {
    transform: translateY(0);
  }
}

.TabPane[aria-hidden='true'] {
  display: none;
}

@media screen and (max-width: 400px) {
  .Tab[role='tab'] {
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}
