extends ../../../layouts/admin.pug

block title
  | Admin/Campaigns/Event/edit — The Debt Collective

block styles
  link(href='/build/stylesheets/admin/campaigns/new.css' rel='stylesheet')

block content
  .px2.pb4
    .max-width-1.mx-auto

      h2.pt4.pb3 Edit Event
      h4= campaign.collective.name
      h4.pb3 Campaign: #{campaign.title}

      form(
        method='post'
        action=routeMappings.Admin.Collectives.Campaigns.Events.update.url(campaign.collective.id, campaign.id, event.id)
        data-component-form
      )
        input(type='hidden' name='_csrf' value=csrfToken)
        input(name='_method' type='hidden' value='PUT')

        .py1
          label.block.pb1.-fw-500 Event Name
          input.-k-input.-fw.-border-neutral-mid(
            type='text'
            name='name'
            placeholder='A short, clear name'
            value=event.name
          )
          p(class='-on-error -danger -caption -fw-500 mt1')

        .py1
          label.block.pb1.-fw-500 Date
          input.-k-input.-fw.-border-neutral-mid(
            type='date'
            name='date'
            value=new Date(event.date).toISOString().substring(0, 10)
          )
          p(class='-on-error -danger -caption -fw-500 mt1')

        .py1
          label.block.pb1.-fw-500 Timespan
          input.-k-input.-fw.-border-neutral-mid(
            type='text'
            name='timespan'
            placeholder='e.g: 6:30 pm - 8:30 pm PST'
            value=event.timespan
          )
          p(class='-on-error -danger -caption -fw-500 mt1')

        .py1
          label.block.pb1.-fw-500 Description
          textarea.-k-textarea.-fw.-ff-sec.-border-neutral-mid(
            name='description'
            rows='6'
            placeholder='Tell people more about the event'
          )
            | #{event.description}
          p(class='-on-error -danger -caption -fw-500 mt1')

        .py1
          label.block.pb1.-fw-500 Location
          input.-k-input.-fw.-border-neutral-mid(
            type='text'
            name='locationName'
            placeholder='Include a place or address'
            value=event.locationName
          )
          p(class='-on-error -danger -caption -fw-500 mt1')

        iframe(id='iframeMap' width='100%' height='100%' frameborder='0' allowfullscreen
          src=`https://www.google.com/maps/embed/v1/place?key=${CONFIG.env().GoogleMaps.key}&q=${encodeURIComponent(event.locationName)}`)

        .pt3
          button.-k-btn.btn-primary.-fw.-fw-700(type='submit') Update

block scripts
  script(src=`https://maps.googleapis.com/maps/api/js?key=${CONFIG.env().GoogleMaps.key}&libraries=places`)
  script(src='/build/javascripts/admin/campaigns/events/edit.js' async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };
      try {
        new ViewAdminEventsEdit(options);
      } catch(e) {
        airbrake.notify(e);
      }
    }, true);
