@import '../../base';

@import '../../components/Tabs';
@import '../../components/ReadMore';
@import '../../components/AvatarList';
@import '../../components/Input';

@import '../../lib/kabinett/components/loader';

@import '../../components/Masonry';
@import '../../components/KBPost';
@import '../../components/GridButton';
@import '../../components/SearchPanel';

/* page utils */
.-neutral-dark {color: var(--k-color-palette-neutral-dark)}
.-bg-neutral-light {background-color: var(--k-color-palette-neutral-light)}
.-bw2 {border-width: 2px}
.-border-neutral-mid-x {border-color: var(--k-color-palette-neutral-mid-x)}
.-stroke-dark {stroke: #000}
.-k-input.-no-border,
.-k-textarea {border: 0}
.-k-input.-transparent,
.-k-textarea.-transparent{background-color: transparent}
.-k-select.-accent {
  border: 0;
  color: #785616;
  background-color: var(--k-color-palette-accent);
}
.-rn {resize: none}

/* page styles */
.bg-light-pattern::before {
  content: '';
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--k-color-palette-neutral-light);
  background-image: url(/images/global/bg-white-pattern.gif);
  background-position: 50% 0;
  background-repeat: repeat;
}

.CampaignTitle {
  @media (max-width: 40em) {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.Campaigns_TabPanes {
  min-height: 500px;
}

.CreateNewPost {
  margin-bottom: 10px;

  &.active > .CreateNewPost_Box {
    z-index: 3;
  }

  &_Input:focus {
    box-shadow: none;
  }

  &_Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    z-index: 2;

    &[aria-hidden='true'] {
      opacity: 0;
      transition: visibility 0ms linear 300ms, opacity 300ms;
    }

    &[aria-hidden='false'] {
      opacity: 1;
      transition: opacity 300ms;
    }
  }
}

.Poll_create-option {
  margin-bottom: 2px;
  &:last-child {margin-bottom: 0}
}

.Campaign_NewPost__ImageDropper {
  border: 1px dashed var(--k-color-palette-neutral-mid);
}

.Campaign_FeedItem {
  margin-bottom: 10px;

  &Text {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &Comment {margin-bottom: 2px}
}

.Post_Topic {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 .5em;
  color: #785616;
}

.PostPoll_result-bar {
  height: 10px;
  border-radius: 5px;
  transition: width 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.Campaign_FeedItemComments {
  &[aria-expanded='false'] {
    display: none;
  }
  &[aria-expanded='true'] {
    display: block;
  }
}

.Campaign_IntroBox--active {
  background-image: url('/images/campaigns/intro-bg.png');
  background-position: -100px 30px;
  background-repeat: no-repeat;
  background-size: 398px;
}

.Campaign_description {
  & p {
    padding-top: var(--space-2);
  }
}

/* active campaign styles */
.CampaignSidebar {
  width: 300%;
  transition: transform 300ms;

  &CarouselItem {
    width: 33.333333333333336%;

    &[aria-hidden="true"] {
      height: 0;
    }
  }
}

.CampaignEventMapWrapper {
  position: relative;
  padding-bottom: 47%;
  border-width: 2px 0;
  border-style: solid;
  border-color: #ECECEB;
  background-color: var(--k-color-palette-neutral-light);

  &::before {
    content: 'Loading map...';
    font-size: var(--k-font-caption-size);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #9b9b9b;
  }

  & > iframe {
    position: absolute;
    border: 0;
  }
}

.CampaignEvent {
  display: flex;

  &_date {
    width: 60px;
    padding: var(--space-2) 0;
    margin-right: var(--space-1);
    line-height: 1;
    background: black;
    color: white;
    text-align: center;
    border-radius: 3px;
  }

  &_content {
    line-height: 1.3333;
  }

  &List {
    & > .CampaignEvent {
      padding: var(--space-2) var(--space-3);
      border-top: 1px solid var(--k-color-palette-neutral-light);

      &:first-child {border-top: none}
    }
  }
}

.JoinCampaingModalAmountInputWrapper {
  position: relative;

  & label {
    position: absolute;
    left: 0;
    top: 0;
    padding: .6em .7em;
    color: black;
  }

  & input {
    padding-left: 1.7em;
    appearance: textfield;
    -moz-appearance: textfield;
  }
}
