extends ../layouts/application.pug

block title
  | Collectives — The Debt Collective

block styles
  link(href='/build/stylesheets/collectives/index.css' rel='stylesheet')

block content
  .px2.pt3
    .max-width-4.mx-auto
      h4.pb1.border-bottom.-bw5.-border-accent The Collectives

      section.Masonry.pt4.mxn2
        each collective, index in collectives
          article.CollectiveCard.Masonry_item.px2.pb4(class=collective.userBelongsToCollective && 'belongsToCollective')
            a.block(
              href=routeMappings.Collectives.show.url(collective.id)
              title=collective.name
            )
              header.flex.items-center
                div
                  svg.-sw5.-stroke-accent(width='56' height='56')
                    use(xlink:href=`#svg-collective-${collective.id.charAt(0)}`)
                - var name = collective.name.replace(/\sCollective$/, '').replace(/\s\and\s/g, ' & ')
                h3.-accent.pl2= name

              if collective.description
                p.-white.py2.-fw-500= collective.description

              if collective.cover.exists('grayscale')
                .center.pb2
                  img.inline-block.align-top.fit(
                    src=collective.cover.url('grayscale')
                  )

              if collective.userBelongsToCollective
                - var _avatarUrl = '/images/profile/placeholder-small.png';
                if (currentUser.account.image.exists('smallRedSquare'))
                  - _avatarUrl = currentUser.account.image.url('smallRedSquare')
                .flex.items-center.pb2
                  img.mr1(src=_avatarUrl alt=currentUser.account.fullname width='40' height='40')
                  p.-caption.-fw-700.-accent You + #{collective.userCount - 1} members · #{collective.campaignCount} campaign#{collective.campaignCount === 1 ? '' : 's'}
              else
                p.-caption.-accent.pb1.-fw-700 #{collective.userCount} members · #{collective.campaignCount} campaign#{collective.campaignCount === 1 ? '' : 's'}
            hr
            .border-bottom.-bw5.-border-accent.py1
              a.-fw-700(href=routeMappings.Collectives.show.url(collective.id)) Go to collective

block scripts
  script(src="/build/javascripts/collectives/index.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };
      try {
        new ViewCollectivesIndex(options);
      } catch(e) {
        airbrake.notify(e);
      }
    }, true);
