extends ../layouts/application.pug

block title
  | #{campaign.title} — The Debt Collective

block styles
  link(href='/build/stylesheets/campaigns/show.css' rel='stylesheet')

block content
  .bg-light-pattern.-dark
    .px2(data-offset-section)

      #resources.max-width-4.mx-auto(data-tabs-component)
        div(data-fixed-tabs-component)
          unless campaign.published
            .Alert.wrapper.center.-fw-500.-warning
              p This campaign is currently on Staging mode. #[a(href=routeMappings.Admin.Collectives.Campaigns.edit.url(campaign.collective.id, campaign.id)) Edit campaign] to make it public.
          ul.list-reset.flex.-bg-neutral-light(role='tablist')
            li.Tab.flex.items-center.flex-auto.p1.-dark(role='tab' aria-controls='panel-campaign' aria-selected='false' data-hashname='#campaign')
              .flex.items-center
                svg.-sw7.-stroke-dark(width='40' height='40')
                  use(xlink:href=`#svg-collective-${campaign.collective.id.charAt(0)}`)
              .pl2.-ell
                .-ell
                  h4.CampaignTitle.inline-block.pr1= campaign.title
                  a.-fw-700.xs-hide(href=routeMappings.Collectives.show.url(campaign.collective.id))= campaign.collective.name
                p.-ell.-caption.-fw-500.xs-hide
                  | #{(userBelongsToCampaign ? `You + ${campaign.userCount - 1}` : campaign.userCount) + ` people joined with $${totalDebtAmount / 100} USD in debt`}
                  if canCreateEvents
                    span.-fw-700.px1 •
                    a.-fw-700(href=routeMappings.Admin.Collectives.Campaigns.edit.url(campaign.collective.id, campaign.id)) Edit campaign

            li.Tab.p2.-fw-700.-dark.items-center.flex(role='tab' aria-controls='panel-resources' aria-selected='false' data-hashname='#resources' data-keep-params)
              .flex.flex-auto.items-center
                span.flex-auto Resources
                span.-caption.-neutral-mid.xs-hide.ml3 #{campaign.kbPosts.length}
            if campaign.published
              li.Tab.p2.-fw-700.-dark.flex.items-center.sm-hide.xs-hide
                .flex
                  span.pr2 Share
                  ul.list-reset.inline-block
                    li.inline-block
                      a.px1.-dark(href='#' rel='noopener noreferrer' target='_blank' data-share-url-twitter)
                        svg(width='13' height='11'): use(xlink:href='#svg-twitter')
                        .sr-only Twitter
                    li.inline-block
                      a.px1.-dark(href='#' rel='noopener noreferrer' target='_blank' data-share-url-facebook)
                        svg(width='6' height='13'): use(xlink:href='#svg-facebook')
                        .sr-only Facebook

        .Campaigns_TabPanes
          section#panel-campaign.TabPane.pt3(role='tabpanel' aria-hidden='true')
            if campaign.active
              include ../includes/campaigns/active-view
            else
              include ../includes/campaigns/inactive-view

          section#panel-resources.TabPane(role='tabpanel' aria-hidden='true')
            .SearchPanel.mx4
              form.sm-flex(action=routeMappings.Campaigns.show.url(campaign.id) + '#resources')
                .flex-auto.pr1
                  .-input-group-icon.flex-auto
                    svg(width=18 height=18)
                      use(xlink:href='#svg-search')
                    input.-k-input.-clean.-fw-700(name='search' placeholder='Find articles and resources relevant to this collective...' value=search)
                .flex-none
                  .-k-select.-accent
                    select.-fw-700(name='topicId' onchange='this.form.submit()')
                      option(value="") All Topics
                      each topic in kbTopics
                        option(value=topic.id selected=topicId===topic.id)= topic.title
                  button(type='submit') Search

            section.Masonry.pt4.mxn2
              each kbPost in campaign.kbPosts
                article.Masonry_item.px2.pb4
                  .KBPost.p3
                    form.right.inline-block(action=routeMappings.Admin.Collectives.Campaigns.KBPosts.destroy.url(campaign.collective.id, campaign.id, kbPost.id) method='post'
                      onsubmit='return confirm("Are you sure you want to delete this resource?")'
                    )
                      input(type='hidden' name='_csrf' value=csrfToken)
                      input(type='hidden' name='_backUrl' value=routeMappings.Campaigns.show.url(campaign.id) + '#resources')
                      input(type='hidden' name='_method' value=routeMappings.Admin.Collectives.Campaigns.KBPosts.destroy.verb)
                      button.p1.ml2.align-top.btn-clear(type='submit')
                        svg.-sw7.-primary(width='20' height='20')
                          use(xlink:href='#svg-trash')

                    div(class=`KBPost--symbol -${kbPost.type}`)
                      if kbPost.fixedURL && kbPost.shortURL
                        a(href=kbPost.fixedURL  target='_blank' rel='noopener noreferrer')= kbPost.shortURL

                      if kbPost.fixedWeight
                        if kbPost.type === 'image' || kbPost.isImage
                          .KBPost--size!= `${kbPost.fileMeta.original.width}&times;${kbPost.fileMeta.original.height}`
                        else
                          .KBPost--size= kbPost.fixedWeight

                    a.KBPost--caption(href=kbPost.fixedURL target='_blank' rel='noopener noreferrer')= kbPost.name
                    .KBPost--category
                      span= kbPost.topic

                    if kbPost.type === 'image' || kbPost.type === 'file'
                      a.KBPost--action(href=kbPost.fixedURL rel='noopener noreferrer')=kbPost.fixedExt

                    if kbPost.type === 'link'
                        a.KBPost--action.-mini(href=kbPost.fixedURL rel='noopener noreferrer')
                          svg.-sw7.-stroke-dark(width='20' height='20')
                            use(xlink:href='#svg-chain')

                    if kbPost.type === 'video' || kbPost.type === 'audio'
                      a.KBPost--action.-mini(href=kbPost.fixedURL rel='noopener noreferrer')
                        svg.-sw7.-stroke-dark(width='14' height='14' style='margin-top:5px')
                          use(xlink:href='#svg-play')

                    if kbPost.type === 'link' || kbPost.type === 'video'
                      .Share
                        span Spread
                        div
                          a.-twitter(href='https://twitter.com/0debtzone' rel='noopener noreferrer')
                            svg.-sw7(width='14' height='14')
                              use(xlink:href='#svg-twitter')
                          a.-facebook(href='https://www.facebook.com/DebtCollective' rel='noopener noreferrer')
                            svg.-sw7(width='14' height='14')
                              use(xlink:href='#svg-facebook')
                          a.-email(href='mailto:no-one@snai1mai1.com?subject=Share')
                            svg.-sw7(width='14' height='14')
                              use(xlink:href='#svg-email')

              if canCreateKBPosts
                article.Masonry_item.px2.pb4
                  a.GridButton(
                    href=routeMappings.Admin.Collectives.Campaigns.KBPosts.new.url(campaign.collective.id, campaign.id)
                    title='Add new resource'
                  )
                    .flex.items-center.justify-center.absolute.top-0.right-0.bottom-0.left-0
                      .GridButton--Plus +
                  a.block.center.py2.-fw-700(href=routeMappings.Admin.Collectives.Campaigns.KBPosts.new.url(campaign.collective.id, campaign.id))
                    | Add new resource
                  .border-bottom.-bw5

block append body
  unless userBelongsToCampaign
    .Modal(data-component-modal='join-to-campaing' aria-hidden='true' role='dialog' aria-labelledby='modalJoinToCampaign')
      button(class='Modal__close' aria-label='close')
        svg(class='-s18'): use(xlink:href='#svg-close')
      .Modal__body(role='document')
        .px2
          .max-width-1.mx-auto
            h3#modalJoinToCampaign.pb2.border-bottom.-bw5.-border-accent
              span.-accent.pr1 Join
              span= campaign.title
            .pt2.border-bottom.-bw5(style='border-color: #4A4A4A')
              .clearfix.mb2.mxn1
                .col.sm-col-6.col-12.p1
                  .flex.items-center
                    div
                      svg(width='49px' height='26px' viewBox='0 10 49 26')
                        path(d='M16,20 L10,20 L10,14 L6,14 L6,20 L0,20 L0,24 L6,24 L6,30 L10,30 L10,24 L16,24 L16,20 L16,20 Z M36,22 C39.31,22 41.98,19.31 41.98,16 C41.98,12.69 39.31,10 36,10 C35.36,10 34.75,10.1 34.17,10.29 C35.3,11.91 35.98,13.88 35.98,16 C35.98,18.12 35.3,20.09 34.17,21.71 C34.75,21.9 35.36,22 36,22 L36,22 Z M26,22 C29.31,22 31.98,19.31 31.98,16 C31.98,12.69 29.31,10 26,10 C22.69,10 20,12.69 20,16 C20,19.31 22.69,22 26,22 L26,22 Z M39.24,26.32 C40.9,27.77 42,29.64 42,32 L42,36 L48,36 L48,32 C48,28.92 43.25,27.03 39.24,26.32 L39.24,26.32 Z M26,26 C22,26 14,28 14,32 L14,36 L38,36 L38,32 C38,28 30,26 26,26 L26,26 Z' stroke='none' fill='#4A4A4A' fill-rule='evenodd')
                    div: p.-neutral-mid.pl2.-fw-700 Together we are strongest
                .col.sm-col-6.col-12.p1
                  .flex.items-center
                    div
                      svg(width='36px' height='40px' viewBox='6 2 36 40')
                        path(d='M34,24 L24,24 L24,34 L34,34 L34,24 L34,24 Z M32,2 L32,6 L16,6 L16,2 L12,2 L12,6 L10,6 C7.79,6 6.02,7.79 6.02,10 L6,38 C6,40.21 7.79,42 10,42 L38,42 C40.21,42 42,40.21 42,38 L42,10 C42,7.79 40.21,6 38,6 L36,6 L36,2 L32,2 L32,2 Z M38,38 L10,38 L10,16 L38,16 L38,38 L38,38 Z' stroke='none' fill='#4A4A4A' fill-rule='evenodd')
                    div: p.-neutral-mid.pl2.-fw-700 Find events and activities.
              .clearfix.mb2.mxn1
                .col.sm-col-6.col-12.p1
                  .flex.items-center
                    div
                      svg(width='40px' height='40px' viewBox='4 4 40 40')
                        path(d='M42,12 L38,12 L38,30 L12,30 L12,34 C12,35.1 12.9,36 14,36 L36,36 L44,44 L44,14 C44,12.9 43.1,12 42,12 L42,12 Z M34,24 L34,6 C34,4.9 33.1,4 32,4 L6,4 C4.9,4 4,4.9 4,6 L4,34 L12,26 L32,26 C33.1,26 34,25.1 34,24 L34,24 Z' stroke='none' fill='#4A4A4A' fill-rule='evenodd')
                    div: p.-neutral-mid.pl2.-fw-700 Interact with more strikers.
                .col.sm-col-6.col-12.p1
                  .flex.items-center
                    div
                      svg(width='32px' height='36px' viewBox='8 6 32 36')
                        path(d='M25,13.8 C28.56,13.8 29.88,15.5 30,18 L34.42,18 C34.28,14.56 32.18,11.4 28,10.38 L28,6 L22,6 L22,10.32 C20.94,10.56 19.94,10.92 19.04,11.4 L21.98,14.34 C22.8,14 23.8,13.8 25,13.8 L25,13.8 Z M10.66,8.12 L8.12,10.66 L15,17.54 C15,21.7 18.12,23.96 22.82,25.36 L29.84,32.38 C29.16,33.34 27.74,34.2 25,34.2 C20.88,34.2 19.26,32.36 19.04,30 L14.64,30 C14.88,34.38 18.16,36.84 22,37.66 L22,42 L28,42 L28,37.7 C29.92,37.34 31.64,36.6 32.9,35.46 L37.34,39.9 L39.88,37.36 L10.66,8.12 L10.66,8.12 Z' stroke='none' fill='#4A4A4A' fill-rule='evenodd')
                    div: p.-neutral-mid.pl2.-fw-700 The goal is cancel debts
            p.pt3.-fw-700 Before continue help the collective with some information about your debt.

            form(method='post' action=routeMappings.Campaigns.join.url(campaign.id))
              input(type='hidden' name='_csrf' value=csrfToken)
              .pt3.clearfix.mb2.mxn1
                .col.sm-col-3.col-12.p1.right-align.xs-left-align.-fw-500 Your Debt
                .col.sm-col-9.col-12.px1
                  .JoinCampaingModalAmountInputWrapper
                    label $
                    input.-k-input.-fw(
                      name='debt_amount'
                      type='number'
                      step='any'
                      min= 1
                      placeholder='Amount in dollars'
                    )
                    p.-on-error.-danger.-caption.-fw-500.mt1 ▲ Invalid amount
              .pt3
                button.-k-btn.btn-primary.-fw.-fw-700(type='submit') Join campaign

block scripts
  script(src='/build/javascripts/campaigns/show.js' async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
        campaignId: !{JSON.stringify(campaign.id)},
        campaignTitle: !{JSON.stringify(campaign.title)},
        nextEvents: !{JSON.stringify(nextEvents)},
        googleMapsKey: !{JSON.stringify(CONFIG.env().GoogleMaps.key)},
        userIsAdminOrCollectiveManager: !{currentURL.role === 'Admin' || (canCreateEvents && canCreateKBPosts)},
        userBelongsToCampaign: !{JSON.stringify(userBelongsToCampaign)},
        deletePostActionUrl: "!{routeMappings.DeletePost.url(campaign.id, '{postId}')}",
      };
      try {
        new ViewCampaignsShow(options);
      } catch(e) {
        airbrake.notify(e);
      }
    }, true);

