@import '../../base';
@import '../../components/Tabs';
@import '../../components/Masonry';
@import '../../components/dispute-tools/TextModal';
@import '../../components/dispute-tools/ToolCard';
@import '../../components/AvatarList';
@import '../../components/GridButton';

/* page utils */
.-bg-neutral-light {background-color: var(--k-color-palette-neutral-light)}
.-neutral-dark {color: var(--k-color-palette-neutral-dark)}

/* page styles */
.bg-light-pattern {
  background-color: var(--k-color-palette-neutral-light);
  background-image: url(/images/global/bg-white-pattern.gif);
  background-position: 50% 0;
  background-repeat: repeat;
}

[data-hit-sticky] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
}

.Collective_TabPanes {
  min-height: 500px;
}

/* manifest tab */
.Collective_Manifest {
  background-image: url(/images/collectives/hand-proclamation.png);
  background-position: -1rem 15rem;
  background-repeat: no-repeat;
  background-size: 47rem;
}

.Collective_Manifest--title {
  @media (max-width: 870px) {font-size: 7rem}
  @media (max-width: 670px) {font-size: 6rem}
  @media (max-width: 500px) {font-size: 5rem}
  @media (max-width: 420px) {font-size: 4rem}
  @media (max-width: 350px) {font-size: 3rem}
}

.Collective_Manifest--text {
  & h3 {padding-bottom: var(--space-3)}

  & p {
    font-family: monospace;
    padding-bottom: var(--space-2);
  }
}
.wf-spacemono-n4-active .Collective_Manifest--text p {
  font-family: 'Space Mono', monospace;
}

.Button--circle {
  display: inline-block;
  width: 46px;
  height: 46px;
  border: 2px solid;
  border-radius: 50%;
  padding-top: .5em;
}
