@import './base';
@import './components/Input';
@import './components/Select';
@import './components/disputes/StatusItem';

:root {
  /* KABINETT CONFIGURATION */
  --k-background-color: #fff;
  --k-color: #000;
  background-color: #f0f0f0;
}

/* CUSTOM STYLES */
body::before {
  background: var(--k-background-color) url('/images/global/bg-white-pattern.gif') 50% 0 repeat;
}

.-status {
  &-incomplete {color: #F5A623}
  &-completed {color: #F04C34}
  &-in-review {color: #267DE2}
  &-documents-sent {color: #D0021B}
  &-update {color: #4D9900}
}

.-download-disabled {
  opacity: .2;
}

table {
  border-spacing: 0 3px;
}

thead {
  background: white;
}

thead > tr > th {
  padding: 12px 10px 13px;
  border-right: 3px solid #f0f0f0;
  box-shadow: 0 -5px 0 0 black;
  transition: background-color 500ms;

  &:last-child {
    border-right: none;
  }
}

tbody > tr {
  background-color: white;
  &:hover {
    background-color: var(--k-color-palette-accent);
  }
}

tbody > tr > td {
  padding: 10px;
}

.btn-primary[disabled] {
  opacity: 0.5 !important;
  background-color: var(--k-color-palette-primary);
  color: white;
}
