@import '../../base';

.About__cover {
  min-height: 300px;
  background-color: #FFECB4;
  background-image: url('/images/about/cover.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;

  &-space {
    padding-top: 48.334%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
  }
}

.About__founder-item > div {
  width: 100%;
  height: 170px;
  background-color: var(--k-color-palette-neutral-light);
}

.About__red-square {
 &-square {
   width: 200px;
   height: 200px;
   bottom: 70px;
   background-color: var(--k-color-palette-primary);
   background-image: linear-gradient(135deg, #ff705b, #e93b22);
 }
}

.About__press-item-image {
  border: 1px solid var(--k-color-palette-neutral-light);
}
