@import '../../base';

.-gray {color: #4A4A4A}

/* page styles */
.HomeHeading {
  font-size: 3.5625rem;
  @media (max-width: 400px) {
    font-size: 3rem;
  }
}

#home-bottom-anchor {
  padding: 12px 13px 11px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.HomeIllustrationCredits {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(0, -100%, 0);
  width: 25%;
  font-size: 11px;
  text-align: left;

  @media (max-width: 831px) {
    left: 0;
    transform: translate3d(0, 0%, 0);
  }

  @media (max-width: 500px) {
    width: 40%;
  }
}

.bg-light-pattern {
  background-color: var(--k-color-palette-neutral-light);
}

.underlined-link {
  border-bottom: .25em solid;
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;

  & > span {
    position: relative;
    display: block;
    transition: transform 200ms cubic-bezier(0.39, 0.575, 0.565, 1);

    &::before {
      content: attr(data-hover);
      position: absolute;
      top: 100%;
      color: var(--primary-lighter);
    }
  }

  &:hover > span {
    transform: translateY(-100%);
  }
}
