/**
  Popover
  .-k-popover[.modifier]
    .-k-popover-wrapper
      .-k-popover__arrow
      .-k-popover-body
       {content}
*/

.-k-popover {
  /* display: none; */
  position: relative;
  border: 1px solid currentColor;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  transition: opacity 160ms;

  /* &.active {display: block} */

  /** ===== MODIFIERS ===== */
  /* top */
  &.-top .-k-popover__arrow {
    top: 100%;
    left: 50%;
    margin-left: -var(--k-popover-arrow-size);
  }

  /* top-left */
  &.-top-left .-k-popover__arrow {
    top: 100%;
    left: 20px;
  }

  /* top-right */
  &.-top-right .-k-popover__arrow {
    top: 100%;
    right: 20px;
  }

  &.-top .-k-popover__arrow,
  &.-top-right .-k-popover__arrow,
  &.-top-left .-k-popover__arrow {
    &::before {border-top-color: inherit}
    &::after {
      margin-top: -1px;
      border-top-color: #fff;
    }
  }

  /* bottom */
  &.-bottom .-k-popover__arrow {
    bottom: 100%;
    left: 50%;
    margin-left: -var(--k-popover-arrow-size);

    &::before {border-bottom-color: currentColor}
    &::after {
      margin-bottom: -1px;
      border-bottom-color: #fff;
    }
  }

  /* bottom-left */
  &.-bottom-left .-k-popover__arrow {
    bottom: 100%;
    left: 20px;
  }

  /* bottom-right */
  &.-bottom-right .-k-popover__arrow {
    bottom: 100%;
    right: 20px;
  }

  &.-bottom .-k-popover__arrow,
  &.-bottom-right .-k-popover__arrow,
  &.-bottom-left .-k-popover__arrow {
    &::before {border-bottom-color: inherit}
    &::after {
      top: 1px;
      border-bottom-color: #fff;
    }
  }

  /* left */
  &.-left .-k-popover__arrow {
    top: 50%;
    left: 100%;
    margin-top: -var(--k-popover-arrow-size);
    margin-right: -var(--k-popover-arrow-size);

    &::before {border-left-color: inherit}
    &::after {
      margin-left: -1px;
      border-left-color: #fff;
    }
  }

  /* right */
  &.-right .-k-popover__arrow {
    top: 50%;
    right: 100%;
    margin-top: -var(--k-popover-arrow-size);
    margin-left: -var(--k-popover-arrow-size);

    &::before {
      border-right-color: inherit;
      left: -1px;
    }
    &::after {
      border-right-color: #fff;
    }
  }
}

.-k-popover__arrow {
  position: absolute;
  width: calc(var(--k-popover-arrow-size) * 2);
  height: calc(var(--k-popover-arrow-size) * 2);
  border-color: inherit;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-width: var(--k-popover-arrow-size);
    border-style: solid;
    border-color: transparent;
  }
}

.-k-popover__close {
  position: absolute;
  top: 1em;
  right: 1em;
  line-height: 1;
}

.-k-popover__header::before {
  content: '';
  width: 100%;
  height: 1px;
  top: 50%;
  position: absolute;
  background-color: #ccc;
}

.-k-popover-close {
  padding: 0 10px;
  top: 50%;
  right: 20px;
  margin-top: -8px;
}

.-k-popover-title {
  font-size: 20px;
  padding: 0 .3em;
}

/* .-k-popover__body-wrapper { */
/*   border-radius: 0 0 6px 6px; */

/*   .has-scrollbar & { */
/*     overflow: hidden; */

/*     &:before { */
/*       pointer-events: none; */
/*       z-index: 1; */
/*       content: ''; */
/*       position: absolute; */
/*       top: 0; */
/*       height: 20px; */
/*       width: 100%; */
/*       background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); */
/*     } */
/*   } */
/* } */

.-k-has-popover {
  position: relative;

  & .-k-popover {
    position: absolute;

    &.-top {
      left: 50%;
      bottom: 100%;
      transform: translate(-50%, -15px);
    }

    &.-top-left {
      left: 0;
      bottom: 100%;
      transform: translate(5px,-15px);
    }

    &.-top-right {
      right: 0;
      bottom: 100%;
      transform: translate(15px,-15px);
    }

    &.-bottom {
      left: 50%;
      top: 100%;
      transform: translate(-50%, 15px);
    }

    &.-bottom-right {
      right: 0;
      top: 100%;
      transform: translate(15px, 15px);
    }

    &.-bottom-left {
      left: 0;
      top: 100%;
      transform: translate(0, 15px);
    }

    &.-left {
      right: 100%;
      top: 50%;
      transform: translate(-15px, -50%);
    }

    &.-right {
      left: 100%;
      top: 50%;
      transform: translate(15px, -50%);
    }
  }
}
