.-k-select {
  font-size: var(--k-font-size);
  position: relative;
  height: 45px;
  border-radius: 2px;
  background-color: #fff;
  color: initial;
  border: 1px solid currentColor;

  &::after {
    content: "▾";
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: currentColor;
  }

  & > select {
    font-size: inherit;
    padding: 0 2.5em 0 1em;
    height: 100%;
    border: none;
    appearance: none;
    border-radius: inherit;
    color: inherit;
    background-color: transparent;
  }

  &.-xs,
  &.-sm,
  &.-lg,
  &.-xl {
    padding: 0;
  }
}

.-k-select-multiple {
  font-size: var(--k-font-size);
  padding: calc(var(--k-font-size) - 1px) 1em calc(var(--k-font-size) - 2px);
  border-width: 0;
  border-radius: var(--border-radius);
}

