.Campaign_IntroBox--active.-bg-white.p3.mb3
  h3.pb1= campaign.title
  h4.pb2= campaign.introText
  .ReadMore(
    data-collapsed-height='180px'
  )
    .Campaign_description(
      id='rm-description'
      data-readmore-content
      aria-expanded='false'
      style='max-height: 180px;'
    )!= campaign.description
    a.inline-block.mt2.-fw-700(
      href='#'
      data-readmore-toggler
      aria-controls='rm-description'
    ) Continue reading...

  .pt3
    if currentUser
      button.js-join-campaign-link.-k-btn.btn-primary.-fw-700.-fw Join this Campaign
    else
      button.js-login-link.-k-btn.btn-primary.-fw-700.-fw Join this Campaign

.Campaign_Feed
.Campaign_FeedLoader.center.pt4: .-k-loader.align-top Loading...
.Campaign_FeedLoadMore.center.pt3: button.hide.-k-btn.btn-light.-fw.-fw-700 Load more...
