extends ../layouts/application.pug

block title
  | Password Recover — The Debt Collective

block content
  .wrapper.py4.px2
    .max-width-1.mx-auto(data-component-sessions-password-recover)
      h3 Password recover
      p.-fw-500.mb3 Enter your email address and we will send you a link to reset your password.

      form(method="post" action=routeMappings.resetPassword.url())
        input(type="hidden" name="_csrf" value=csrfToken)

        .clearfix.mb3
          .col.col-3.pt1.pr1.right-align.-fw-500 Email
          .col.col-9(class=errors && errors.email ? 'error' : '')
            input(name="email" class="-k-input -fw" type="email")
            p(class="-on-error -danger -caption -fw-500 mt1") ▲ Invalid email

        button.-k-btn.btn-primary.-fw.-fw-700(type="submit") Reset password

block scripts
  script(src="/build/javascripts/sessions/passwordRecover.js" async)
  script.
    window.addEventListener('load', function() {
      var options = {
        currentUser: !{JSON.stringify(currentUser)},
        currentURL: !{JSON.stringify(currentURL)},
      };
      try {
        new ViewPasswordRecover(options);
      } catch(e) {
        airbrake.notify(e);
      }
    }, true);
