.px2(data-component-sessionsnewform)
  .max-width-1.mx-auto
    h3#modalLoginTitle.pb2 Welcome back
    p#modalLoginDesc.-fw-500.mb3 Log In

    form(method="post" action=routeMappings.login.url())
      input(type="hidden" name="_csrf" value=csrfToken)

      .clearfix.mb2.mxn1
        .col.sm-col-3.col-12.p1.right-align.xs-left-align.-fw-500 Email
        .col.sm-col-9.col-12.px1(class=errors && errors.email ? 'error' : '')
          input.-k-input.-fw(
            type="email"
            name="email",
            value=(_formData && _formData.email) || ''
          )
          p(class="-on-error -danger -caption -fw-500 mt1") ▲ Invalid email

      .clearfix.mb2.mxn1
        .col.sm-col-3.col-12.p1.right-align.xs-left-align.-fw-500 Password
        .col.sm-col-9.col-12.px1(class=errors && errors.password ? 'error' : '')
          input(name="password" class="-k-input -fw" type="password" autocomplete="off")
          p(class="-on-error -danger -caption -fw-500 mt1") ▲ Invalid password

      .clearfix.mb3
        .col.sm-col-3.col-12.pt1.pr1
        .col.sm-col-9.col-12
          a.-fw-500.-caption(href=routeMappings.resetPassword.url()) Forgot your password?

      button.-k-btn.btn-primary.-fw.-fw-700(type="submit") Log in

    p(class="pt3 center")
      span.-fw-500 New on The Debt Collective? #[a(href=routeMappings.signup.url()) Sign up]
