.UsersNewForm__step {
  display: block;
}

.UsersNewForm__collective-option {
  display: inline-block;
  width: 50%;
  padding: var(--space-1);

  & > .inner {
    width: 100%;
    background-color: var(--k-color-palette-neutral-dark);
    color: var(--k-color-palette-neutral-mid);
    cursor: pointer;

    &:hover {
      background-color: color(var(--k-color-palette-neutral-dark) tint(10%));
      color: #fff;
    }
  }

  & > input[type="checkbox"] {
    display: none;
  }

  & > input[type="checkbox"]:checked + .inner {
    background-color: #fff;
    color: var(--k-color-palette-success);
  }
}

#sign-up-btn-back {
  background-color: var(--k-color-palette-neutral-dark);
  color: #fff;

  &:hover {
    background-color: color(var(--k-color-palette-neutral-dark) tint(10%));
  }
}
